<section class="portfolio portfolio-index">
  <div class="container">
    <h2 class="portfolio-title">What we specialize in:</h2>
    <ul class="portfolio-list">
      <li class="portfolio-item">
        <img class="portfolio-item-img" srcset="/images/work1.jpg 1x, /images/work1@2.jpg 2x" src="/images/work1.jpg" alt="work1" width="360" />
        <h3 class="portfolio-item-title text-ellipsis-two-row">Web Development Solutions</h3>
        <p class="portfolio-item-text">
          We provide comprehensive web development services, delivering robust, scalable, and secure websites that cater to your specific business needs.
        </p>
      </li>
      <li class="portfolio-item">
        <img class="portfolio-item-img" srcset="/images/work2.jpg 1x, /images/work2@2.jpg 2x" src="/images/work2.jpg" alt="work2" width="360" />
        <h3 class="portfolio-item-title text-ellipsis-two-row">Mobile App Development</h3>
        <p class="portfolio-item-text">
          Our team excels in creating innovative and user-friendly mobile applications, ensuring seamless performance across all devices.
        </p>
      </li>
      <li class="portfolio-item">
        <img class="portfolio-item-img" srcset="/images/work3.jpg 1x, /images/work3@2.jpg 2x" src="/images/work3.jpg" alt="work3" width="360" />
        <h3 class="portfolio-item-title text-ellipsis-two-row">UI/UX Design</h3>
        <p class="portfolio-item-text">
          We specialize in crafting intuitive and engaging user interfaces, enhancing user experience through thoughtful and elegant design.
        </p>
      </li>
    </ul>
  </div>
</section>
