<section class="services">
  <div class="container">
    <h2 class="visually-hidden">Services</h2>
    <ul class="services-list">
      <li class="services-item">
        <figure class="service-icon">
          <svg width="64" height="64">
            <use href="./images/icons.svg#diagram"></use>
          </svg>
        </figure>
        <h3 class="service-title">Quality</h3>
        <p class="service-text">
          We are committed to delivering top-notch web development services, ensuring that every project meets the
          highest standards of excellence. Our meticulous attention to detail and dedication to perfection result in
          outstanding digital solutions.
        </p>
      </li>
      <li class="services-item">
        <figure class="service-icon">
          <svg width="64" height="64">
            <use href="./images/icons.svg#clock"></use>
          </svg>
        </figure>
        <h3 class="service-title">Speed</h3>
        <p class="service-text">
          Time is of the essence. We prioritize rapid development cycles without compromising on quality, ensuring that
          your project is delivered on schedule. Our efficient processes and agile methodologies enable us to meet tight
          deadlines.
        </p>
      </li>
      <li class="services-item">
        <figure class="service-icon">
          <svg width="64" height="64">
            <use href="./images/icons.svg#astronaut"></use>
          </svg>
        </figure>
        <h3 class="service-title">Loyalty</h3>
        <p class="service-text">
          Building long-term relationships with our clients is at the core of our values. We stand by our clients,
          offering continuous support and reliable service. Your success is our success, and we are dedicated to being
          your trusted partner in digital growth.
        </p>
      </li>
    </ul>
  </div>
</section>
