<ul class="social">
  <li>
    <a
      href="https://www.upwork.com/agencies/1170967194815528960/"
      target="_blank"
      class="social-link"
      aria-label="upwork"
      rel="noopener noreferrer external"
    >
      <svg class="social-icon" width="28" height="28">
        <use href="./images/icons.svg#upwork"></use>
      </svg>
    </a>
  </li>

  <li>
    <a
      href="https://www.linkedin.com/company/102075082"
      target="_blank"
      class="social-link"
      aria-label="linkedIn"
      rel="noopener noreferrer external"
    >
      <svg class="social-icon" width="28" height="28">
        <use href="./images/icons.svg#linkedin"></use>
      </svg>
    </a>
  </li>

  <li>
    <a
      href="https://www.facebook.com/just.dev.co/"
      target="_blank"
      class="social-link"
      aria-label="facebook"
      rel="noopener noreferrer external"
    >
      <svg class="social-icon" width="28" height="28">
        <use href="./images/icons.svg#facebook"></use>
      </svg>
    </a>
  </li>
  <li>
    <a
      href="https://www.instagram.com/_just_development_/ "
      target="_blank"
      class="social-link"
      aria-label="instagram"
      rel="noopener noreferrer external"
    >
      <svg class="social-icon" width="28" height="28">
        <use href="./images/icons.svg#instagram"></use>
      </svg>
    </a>
  </li>

  <li>
    <a
      href="https://github.com/just-development"
      target="_blank"
      class="social-link"
      aria-label="linkedIn"
      rel="noopener noreferrer external"
    >
      <svg class="social-icon" width="28" height="28">
        <use href="./images/icons.svg#github"></use>
      </svg>
    </a>
  </li>
  <li>
    <a
      href="https://clutch.co/profile/just-development"
      target="_blank"
      class="social-link"
      aria-label="linkedIn"
      rel="noopener noreferrer external"
    >
      <svg class="social-icon" width="28" height="28">
        <use href="./images/icons.svg#clutch"></use>
      </svg>
    </a>
  </li>
</ul>
