<section class="team">
  <div class="container team-container">
    <h2 class="team-title">Our Team</h2>
    <ul class="team-list">
      <li class="team-item">
        <img
          class="team-member-image"
          src="/images/profile-placeholder.webp"
          srcset="/images/alexkydanov.jpg"
          alt="Profile Image"
        />

        <div class="team-info">
          <h3 class="team-member">Alex Kydanov</h3>
          <p class="team-position text-ellipsis-two-row">Co-founder and Tech Lead</p>
        </div>
      </li>
      <li class="team-item">
        <img
          class="team-member-image"
          src="/images/profile-placeholder.webp"
          srcset="/images/profile-placeholder.webp"
          alt="Profile Image"
        />
        <div class="team-info">
          <h3 class="team-member">Alex Marchuk</h3>
          <p class="team-position text-ellipsis-two-row">Co-founder and Head of Project Management</p>
        </div>
      </li>
      <li class="team-item">
        <img
          class="team-member-image"
          src="/images/profile-placeholder.webp"
          srcset="/images/profile-placeholder.webp"
          alt="Profile Image"
        />
        <div class="team-info">
          <h3 class="team-member">Konstantin Dralyuk</h3>
          <p class="team-position text-ellipsis-two-row">Senior Full-stack developer</p>
        </div>
      </li>
      <li class="team-item">
        <img
          class="team-member-image"
          src="/images/profile-placeholder.webp"
          srcset="/images/profile-placeholder.webp"
          alt="Profile Image"
        />
        <div class="team-info">
          <h3 class="team-member">Andrew Kotenko</h3>
          <p class="team-position text-ellipsis-two-row">Senior Web developer</p>
        </div>
      </li>

      <li class="team-item">
        <img
          class="team-member-image"
          src="/images/profile-placeholder.webp"
          srcset="/images/profile-placeholder.webp"
          alt="Profile Image"
        />
        <div class="team-info">
          <h3 class="team-member">Mykhailo Vilchanskyi</h3>
          <p class="team-position text-ellipsis-two-row">Web developer</p>
        </div>
      </li>

      <li class="team-item">
        <img
          class="team-member-image"
          src="/images/profile-placeholder.webp"
          srcset="/images/profile-placeholder.webp"
          alt="Profile Image"
        />
        <div class="team-info">
          <h3 class="team-member">Yurii Pidlypnyi</h3>
          <p class="team-position text-ellipsis-two-row">Web developer</p>
        </div>
      </li>
    </ul>
  </div>

  <div class="team-cta">
    <button class="action-button team-button" type="button" data-modal-open="modal" data-type="team">
      Join our Team
    </button>
  </div>
</section>
