@import './variables.scss';

html {
  font-size: 10px;
  height: 100%;
}

body {
  font-family: 'Work Sans', sans-serif;
  height: 100%;
}

.wrapper {
  position: relative;
  background-color: #000;
  height: 100%;
  color: #fff;
  display: flex;
}

.main {
  max-width: 1200px;
  display: flex;
  margin:  auto;
  padding: 8px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-link {
  display: block;
  margin-bottom: 30px;
}

.text-block {
  text-align: center;
}

.main-phrase {
  font-size: 4rem;
  margin-bottom: 30px;
  font-weight: 600;
}

.sub-phrase {
  font-size: 2rem;
  margin-bottom: 30px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 0.8rem;
  font-family: 'Open Sans', sans-serif;
  padding: 15px;
}

.logo {
  width: 100%;
  height: auto;
  max-width: 300px;
}

@media (min-width: 480px) {
  .main {
    padding: 15px;
  }
  .main-phrase {
    font-size: 5rem;
  }

  .sub-phrase {
    font-size: 2.5rem;
  }

  .footer {
    font-size: 1.2rem;
  }
}
